/* RESPONSIVE ENHANCEMENT */
/*Media Queries*/
@media screen and (max-width: 400px) {
  .two-column .column,
  .three-column .column {
    max-width: 100% !important; }
  .two-column img, .three-column img {
    max-width: 100% !important; } }

@media screen and (min-width: 401px) and (max-width: 620px) {
  .three-column .column {
    max-width: 33% !important; }
  .two-column .column {
    max-width: 50% !important; } }
