
$border-color: #e5e5e5;

.border-bottom {
	border-bottom: 1px solid $border-color;
}

.body-border {
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}