/* CSS Document */
$heading-gray: #333e48;
$dark-text-gray: #4c5760;
$text-gray: #667078;
$light-text-gray: #7c868d;
$text-purple: #43499c;

@mixin font-default {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

h1 {
	@include font-default;
	font-size: 32px;
	line-height: 38px;
	font-weight: 700;
	margin-bottom: 23px;
	color: $heading-gray;
}

h2 {
	@include font-default;
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 23px;
	color: $heading-gray;
}

h3 {
	@include font-default;
	font-size: 19px;
	line-height: 23px;
	font-weight: 700;
	margin-bottom: 11px;
	color: $heading-gray;
}

p {
	@include font-default;
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 23px;
	font-weight: normal;
	color: $text-gray;
	
	&.lead {
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;
		color: $light-text-gray;
		margin-bottom: 23px;
	}
	
	&.small {
		font-size: 11px;
		line-height: 16px;
		font-weight: normal;
		color: $light-text-gray;
		margin-bottom: 16px;
	}
	
	&.label {
		font-size: 12px;
		line-height: 14px;
		font-weight: normal;
		color: $text-purple;
		margin-bottom: 23px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
	
a {
	
	&.inline {
		text-decoration: none;
		color: #464a99;
		font-weight: 500;
	}
	
	&.cta {
		text-decoration: none;
		color: #f13950;
		font-size: 12px;
		line-height: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}
}
	

ul {
	@extend p;
	@extend .left;
	padding: 0; Margin: 0 0 0 17px;
	
	li{
		@extend .left;
		Margin: 0 0 23px 0;
		
		.list-sentence {
			Margin: 0;
		}
	}
}

strong {
	color: $dark-text-gray;
}

.white {
	color: #ffffff !important;
}

.caps {
	text-transform: uppercase;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}